name: "ueb"
on: 
    push:
        branches:
            - main

    workflow_dispatch: 

jobs:
    ci:
        runs-on: 'ubuntu-latest'

        steps:
        - uses: actions/checkout@v5

        - uses: actions/setup-java@v5
          with:
            distribution: 'temurin' # See 'Supported distributions' for available options
            java-version: '17'
            cache: maven

        - name: "install  dependecies"
          run: mvn dependency:resolve

        - name: "compile "
          run: mvn compile

        - name: " run test "
          run: mvn test
        
        - name: "buidl package "
          run: mvn package -Dmaven.test.skip

        - uses: actions/upload-artifact@v4
          with: 
            name: ueb_package
            path: target/*.jar







